header {
    padding: 2% 0 0 15%;
   }

   nav {
    display: flex;
    gap: 80px;
   }
   
   .menu {
       font-family: 'Montserrat', sans-serif;
       font-size: 1.5rem;
       font-weight: 600;
       color: #22D4FD;
       text-decoration: none;
   }

   @media screen and (max-width: 1500px){
    
   }