@import url("./variaveis.css");

@import url("./header.css");
@import url("./home.css");
@import url("./sobre.css");
@import url("./footer.css");

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-do-texto);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}