@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --cor-de-fundo: #000000;
    --cor-do-titulo: #068FFF;
    --cor-do-texto: #FBFFDC;
    --cor-da-borda: #22D4FD;
    --dourado: #DAA520;

    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Krona One', 'sans-serif';
    --fonte-terciaria: 'Krona One', sans-serif;
}